body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform:none;

    }
    
.subheading{
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;

}

.coolmail {
    color:greenyellow;
    background-color: rebeccapurple;
}

.coolmail :hover{
    color: #242424;
    
}



:root {
  --bs-primary:#0e8a00;
  --bs-primary-rgb: 12,25,145;
  --bs-secondary:#00ccff;
  --bs-secondary-rgb:23,15,180
}


.expedu_icon: hover {
    color: var(--bs-secondary);
}
a{
    color: var(--bs-primary);
}
    
.social-icons .social-icon :hover {
    background-color: var (--bs-secondary);
}












